.octobox {
  background-color: #fff;
	border-top: solid 1px rgb(234, 234, 235);
	bottom: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	display: block;
	font-size: 30px;
	padding: 1px 4rem 10px;
	position: fixed;
	left: 0;
  width: 100%;
  text-align: center;
	z-index: 99999;
}

.octobox .btn{
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding-left: 34px;
}

.octobox .btn.disable {
  opacity: 0.5;
  pointer-events: none;
}


#octobox-star {
  background-image: url(icons/star-16.svg);
}
#octobox-unstar {
  background-image: url(icons/star-fill-16.svg);
}
#octobox-archive {
  background-image: url(icons/archive-16.svg);
}
#octobox-unarchive {
  background-image: url(icons/inbox-16.svg);
}
#octobox-mute {
  background-image: url(icons/mute-16.svg);
}
#octobox-subscribe {
  background-image: url(icons/eye-16.svg);
}
#octobox-delete {
  background-image: url(icons/trash-16.svg);
}
#octobox-prev {
  background-image: url(icons/arrow-left-16.svg);
}
#octobox-next {
  background-image: url(icons/arrow-right-16.svg);
  background-position: right 10px top 8px;
  padding-right: 34px;
  padding-left: 16px;
}

#octobox-logo{
  background-image: url(icons/infinitacle.svg);
  background-repeat: no-repeat;
  width: 30px;
  display: inline-block;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}
