.octobox {
  background: #fff;
	border-top: solid 1px rgb(234, 234, 235);
	bottom: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	display: block;
	font-size: 30px;
	padding: 1px 4rem 10px;
	position: fixed;
	left: 0;
  width: 100%;
  text-align: center;
	z-index: 99999;
}
